/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

///////////////////////////////////////////////



// $brandColor: darkorchid;
// body{
//     background: linear-gradient(to bottom,
//     $brandColor,
//     darken($brandColor, 15%)
//   );
// }

//$text-color: rgb(228, 190, 0);
$text-color: rgb(233, 4, 253);
$background-color: rgb(30, 29, 29);

body{
  background-color: $background-color;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App{
  padding-top: 5%;
  width: 800px;
}

h1{
  color: $text-color;
}

.post{
  display: flex;
  padding: 15px;
  border: 2px solid $text-color;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
}

.post__btns{
  display: flex;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.page{
  padding: 10px 20px 10px 20px;
  border: 1px solid $text-color;
  color: $text-color;
  cursor: pointer;
}

.page__current{
  border: 2px solid yellow;
  font-weight: bold;
  color: yellow;
}

.navbar{
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: rgb(46, 45, 45);
}

.navbar__links{
  margin-left: 70%;
}

.navbar__links__option{
  font-size: x-large;
  color: $text-color;
  margin: 0 10px;
}

.post-title{
  font-size: x-large;
  color: $text-color;
}

.comment-title{
  font-size: larger;
  color: $text-color;
}

.comment-body{
  font-size: large;
  color: $text-color;
}
.comment-email{
  color: $text-color;
}