@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: rgb(30, 29, 29);
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App {
  padding-top: 5%;
  width: 800px;
}

h1 {
  color: rgb(233, 4, 253);
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border: 2px solid rgb(233, 4, 253);
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(233, 4, 253);
}

.post__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
}

.post-enter-active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(233, 4, 253);
  color: rgb(233, 4, 253);
  cursor: pointer;
}

.page__current {
  border: 2px solid yellow;
  font-weight: bold;
  color: yellow;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  background-color: rgb(46, 45, 45);
}

.navbar__links {
  margin-left: 70%;
}

.navbar__links__option {
  font-size: x-large;
  color: rgb(233, 4, 253);
  margin: 0 10px;
}

.post-title {
  font-size: x-large;
  color: rgb(233, 4, 253);
}

.comment-title {
  font-size: larger;
  color: rgb(233, 4, 253);
}

.comment-body {
  font-size: large;
  color: rgb(233, 4, 253);
}

.comment-email {
  color: rgb(233, 4, 253);
}